body {
    background-image: url("https://static1.squarespace.com/static/5105d89ee4b0869f6416d903/t/5734bcb2cf80a15b05a2db15/1463073972070/c3bg.png");
    background-size: 100%;
    color: white;
    font-family: PT Sans;
}

.title {
    text-align: center;
}
